.grid-container{
    margin: var(--size-base);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: var(--size-sm);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-1{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.item-2{
    grid-row: 1 / 2;
    grid-column:2 / 3;
}

.item-3{
    grid-row: 1 / 3;
    grid-column:3 / 4;
}

.item-4{
    grid-row: 3 / 4;
    grid-column:1 / 2;
}

.item-5{
    grid-row: 2 / 4;
    grid-column:2 / 3;
}


.item-6{
    grid-row: 3 / 4;
    grid-column:3 / 4;
}

@media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
  
    .item {
      grid-column: auto;
      grid-row: auto;
    }
  }
  