:root{
    --color-amber-100:#fef3c7;
    --color-amber-200:#fde68a;
    --color-amber-500:#f59e0b;
    --color-amber-700:#b45309;
    --color-green-200:#bbf7d0;
    --color-gray-100:#f3f4f6;
    --color-blue-200:#bfdbfe;
    --color-gray-200:#e4e4e7;
    --color-gray-500: #6b7280;
    --color-gray-700:#374151;
    --color-gray-950:#030712;

    --color-black: #000;
    --color-white: #fff;

    --size-xxs: .5rem;
    --size-xs: .75rem;
    --size-sm: .875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
    
}

*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 
        "Segoe UI",           /* Windows */
        -apple-system,        /* Mac/iOS */
        "Roboto",             /* Android */
        "Helvetica Neue",     /* Mac fallback */
        Arial,                /* Universal fallback */
        sans-serif;           /* Generic fallback */
    font-weight: 400;
}

.header p {
    color: var(--color-gray-700);
}

.tags{
    display: flex;
    gap: var(--size-xxs);
    margin-top: var(--size-xs);
}

.tag{
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-200);
    border-radius: 6px;
    padding: 6px;
    color: var(--color-gray-950);
    font-size: var(--size-sm);
}

.container {
    width: 100%;
    margin-left: var(--size-2xl);
    margin-right: auto;
    padding-left: var(--size-xxs);
    padding-right: var(--size-xxs);
}

.section {
    margin-top: var(--size-2xl);
}

.card-list {
    display: flex;
    gap: var(--size-xs);
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid var(--color-gray-200);
    padding: var(--size-xs);
    border-radius:var(--size-xxs);
    background-color: var(--color-white);
}

a{
    text-decoration: none;
    color: var(--color-gray-950);
}

.card:hover{
    background-color: var(--color-gray-100);
}

.card__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--size-xxs);
    font-size: var(--size-xs);
}

.card__tag{
    background-color: var(--color-amber-100);
    border: 1px solid var(--color-amber-200);
    border-radius: 6px;
    padding: 6px;
    color: var(--color-amber-700);
}

.card__tech{
    display: flex;
    gap: var(--size-xxs);
}
.card__tech-item{
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-gray-200);
    border-radius: 6px;
    padding: 6px;
    color: var(--color-gray-700);
}

.card__icon{
    width: 45px;
    margin: var(--size-sm) 0;
    color: var(--color-gray-950);
}

.card__title{
    font-weight: 600;
    margin-bottom: var(--size-xxs);
    color: var(--color-gray-950);
}

.card__description{
    color: var(--color-gray-500);
    margin-bottom: var(--size-base);
}
.card__author{
    color: var(--color-gray-950);
}

.card__author span{
    font-style: italic;
}
